<<<<<<< HEAD
:root {
    --page_bg: linear-gradient(0deg, rgba(215,236,251,1) 0%, rgba(213,241,254,0.9391106784510679) 100%);  /* page background */
    --main_bg:  #F5F5F5;  /* main container #F5F5F5 */
    --left_bg: aliceblue;  /* Left bar aliceblue */
    --right_bg: #FFFFFF;  /* right bar */
    --footer_bg: #5b6f81;  /* footer bar  #F5F5F5 */
    --text_color: #545454;
    --top_bg: dodgerblue;
=======
#centre {
border:1px solid #202020;
border-bottom:0;
border-top:0;
color:#000;
padding:1.5em;
>>>>>>> master
}

#conteneur {
background-color:#fafafa;
margin:1em 10%;
min-width:60em;
position:absolute;
width:80%;
}

#haut {
/*background-color:#202020;*/
background-color:#3498DB; /*original  #463E41  */
height:2.4em;
max-height:2.4em;
}

#header {
/*background-color:#3882C7;*/
background:  linear-gradient(to bottom, #154360 50%, #336699 100%); /*border:1px solid #fafafa;*/  /* original #2B547E , proposed: #154360 */ 
color:#fafafa;
font-size:2em;
height:2.5em;
padding-left:2em;
padding-top:1em;
}

<<<<<<< HEAD
.menu_btn{
    background-color: var(--main_bg);
    border: none;
    outline: none;
}

/* ====================================================  Left Side of Page  ==========================  */

.left {
    font-size: 1em;
    height: 100%;
    background-color: var(--left_bg);
    font-family: "Roboto", "Open Sans", sans-serif;
    border-right: 2px solid;
    position:fixed;
    display:block;
=======
#pied {
border:1px solid #202020;
border-top:0;
padding:0.5em;
text-align:center;
background-color: #154360;
color:white;
>>>>>>> master
}

.menuhaut {
font-size:1em;
list-style-type:none;
margin:0;
padding:0;
}

.menuhaut a {
color:#fafafa;
margin:0 0.4em;
text-decoration:none;
}

.menuhaut a:hover {
color:#154360;
text-decoration:none;
}

.menuhaut li {
border-right:2px solid #fff;
font-family: Arial;
display:inline;
float:left;
margin:0;
padding:0.4em 10px;
}

body {
background-color: #D6D6D6;   /* original color #CDCDCD; */
font-family: Arial;
/*, Verdana, Arial, Helvetica, sans-serif;*/
font-size: 14px;
}

a {
color:#00688B;
text-decoration:none;
}

h1 {
	border-bottom: 1.2px solid gray;
    clear: both;
	padding: .5em 0 0 0;
	color: #00688B;
	font-family: Arial;
	/* font-variant: small-caps; */
	font-size: 1.6em;
	text-shadow: silver 1px 1px 1px;
	
/* font-size:1.6em;
margin:0.5em 0.5em 1em 0; */
}

h2 {
	color: #00688B;
	font-size: 1.3em;
	font-family: Arial;
	/*text-shadow: silver 1px 1px 1px;*/
	/*font-size:2em;*/
    margin:1em 0.5em 0.5em 1.6em;
}

h3 {
font-size:1.1em;
margin:0.8em 0.5em 0.3em 0.8em;
}

h5 {
font-size:1em;
margin:0.7em 0.5em 0.3em 1em;
}

<<<<<<< HEAD
/*
@media (max-width: 768px) {.left {
        display: none;
    }
}
*/
=======
h4 {
font-size: 1.8em;
/*font-variant: small-caps;*/
margin: 0.8em 0.5em 0.3em 0.5em;
}

ul {
    font-size: 0.9em;
	/* padding: 0em 0em .1em 2em;*/
	/*line-height: 1.3em;*/
>>>>>>> master

}

li {
    font-size: 1.2em;
	padding-bottom: 0.6em;

}

ol {
    font-size: 0.9em;
}

p {
font-size: 1.1em;
margin:1px 0.5em 0.5em 1.5em;
}

award {
color: red; 
font-weight: bold;
} 

shrtconf {
color: blue;
} 

.divInfo { 
  display: none; 
}

<<<<<<< HEAD
.papertitle {
    font-weight: 300;
    color:royalblue;
}

ul.editorial li {
    line-height: 1.2em;
    font-size: 0.8em;
}

.date {
    font-size: 0.8em;
    color:val(--text_color);
    margin: 1px 1px 1px 1px;
    font-style: italic;
}

.org {
    font-size: 0.8em;
    color:val(--text_color);
    margin: 1px 1px 1px 1px;
    font-weight: 600;
}

.pos {
    font-size: 0.8em;
    color:val(--text_color);
    margin: 1px 1px 1px 1px;
}
=======
br {
   display: block;
   line-height: 5px;
   content: " ";
   margin: 0 0 0.3em 0;
}
>>>>>>> master
