
* {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif; /* Arial,  Source Sans Pro  Montserrat  Roboto  Poppins  Raleway */
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* Soft background color */
    color: #333;
}

main {
    display: flex;
    flex-direction: column; /* Stack containers vertically */
    align-items: center; /* Center the containers horizontally */
    margin-top: 5em;
/*
    max-width: 800px;
    margin: 5em auto; 
    padding: 2em;
    background: #ffffff; 
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
*/
}

.container1 {
    max-width: 1000px;
    width: 100%; /* Full width of the container */
    background: #ffffff; /* White background for each section */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin: 0em 0em 0.5em 0em; /* Margin above and below each container */
    padding: 2em 4em 1em 4em; /* Padding inside each container */
}

.container2 {
    max-width: 1000px;
    width: 100%; /* Full width of the container */
    background: #ffffff; /* White background for each section */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    margin: 0em 0em 0.5em 0em; /* Margin above and below each container */
    padding: 2em 2em 1em 2em; /* Padding inside each container */
}


.news-container {
    max-width: 1000px;
    width: 100%;
    background: #ffffff; /* Maintain clean background */
    padding: 2em 4em 1em 4em;
    position: relative; /* Enable positioning for overlapping elements */
    overflow: hidden; /* Ensure elements don’t spill out */
/*    margin: 2em 0;*/
    margin: 0.5em 0em 0em 0em; /* Margin above and below each container */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Stronger shadow for a floating effect */
}

.news-container::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    width: 150px;
    height: 150px;
    background: #ff6f61; /* Add a soft background shape */
    border-radius: 50%; /* Circular shape */
    z-index: 0;
    opacity: 0.5; /* Light opacity */
}


.news-date {color: #007BFF;}



h1 {font-weight: 600; font-size: 2em;}

h2 {color: #2c3e50; margin-bottom: 0.5em; text-align: center; font-weight: 300; font-size: 1.8em;  }

h3 {color: #2c3e50;  margin: 0em; font-weight: 600;}

a {color: #1772d0; /*#007acc;  */
   text-decoration: none; 
/*    font-variant-caps: titling-caps;*/
/*    text-decoration: underline dotted; */
/*
    text-decoration-thickness: 1.1px; 
    text-underline-offset: 3px; 
*/

}

a:hover {
/*    text-decoration-thickness: 1.5px; */
    color: #f09228; 
/*    font-weight: 600;*/
}

a:visited {
}

a:active {
    color: #e74c3c;   
}


strong {
    font-weight: 300; /* Makes text bold */
    color: darkgoldenrod;
}
  
ul {
     list-style-type: disc; 
}

ul li {
}


p{font-weight: 200; margin-bottom: 5px;}




.bio-header {
/*    display: flex;*/
    align-items: center;
    margin-bottom: 2em;  
}


.bio-header h1 {
    text-align: center;
    font-size: 1.5em;  
    font-variant-caps:titling-caps;
    margin: 0; 
    font-family:'serif'; 
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 0.5em;

}

.bio-header h2 {
    font-size: 1.1em; 
    font-family:serif;
    color: #555; 
    margin: 0.5em 0; 
    text-align: center;
    letter-spacing: 1px;
}

.bio-header p {
    font-size: 1em; /* Font size for the email */
    margin: 0; /* Remove default margin */
    color: #333; /* Color for the email text */
    text-align: center;
    letter-spacing: 5px;
}

.bio-info {
    display: flex;
    max-width: 100%;
}

.profile-img {
    margin-right: 0px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}





/* Social Media Icons */
.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 1em;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons a {
    color: var(--c_txt);
    text-decoration: none;
    font-size: 20px;
}

.social-icons a:hover {
    color: #0056b3; /* #1abc9c; /* Change to a new hover color */
    border-bottom: none;
    font-size: 21px;
}



.cv-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007BFF; /* Button color */
    color: white;
    text-decoration: none;
    font-size: 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cv-button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}




.bio, .news, .interests, .publications, .awards, .contact {
    margin: 2em 0;
}






footer {
    text-align: center;
/*    margin: 2em 0;*/
    margin: 4em 0; /* Increase top margin */
    font-size: 0.9em;
    color: #777;
}


/* ================================================================  */
/*    Publications                                                   */
/* ================================================================  */

.publications{}

.publications ul li{
    margin-bottom: 1em;
}


/* ================================================================  */
/*    Research                                                   */
/* ================================================================  */

.research-items {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    padding: 2em 0;
}

.research-item {
    display: flex;
    align-items: center;
    gap: 20px; 
}

.research-item img {
    width: 180px; 
    height: 100px;
/*    border-right: 1px solid;*/
/*    padding-right: 1em;*/
/*    object-fit: cover; */
/*    border-radius: 5px;  */
}


.research-item h3 {
/*    font-size: 1.3em;*/
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: 200;
    color: darkgoldenrod;
}

.research-item p {
/*    font-size: 0.95em;*/
/*    line-height: 1.6;*/
/*    color: #555; */
}

.research-item-text {
    flex: 1; /* Allow text to take remaining space */
}





/*************************************************

Mobile Friendly   Mobile Friendly   Mobile Friendly

*************************************************/

@media (max-width: 768px) {
    
 
@media (max-width: 768px) {
    .main {
        margin-top: 5em; /* Adjust top margin for smaller screens */
        padding: 1em; /* Add some padding for better spacing */
        width: 100%; /* Ensure it takes full width */
    }
}

@media (max-width: 768px) {
    .bio-header {
        flex-direction: column; /* Stack profile image and info vertically */
        text-align: center; /* Center align text */
    }
    
    .bio-header h1{
        margin-bottom: 1em;
    }
    
    .bio-info {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
    
    

.profile-img {
    display: none;
    margin-right: 0px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

    .profile-img {
        margin-right: 0; /* Remove margin between image and text */
        margin-bottom: 20px; /* Add space between image and text */
    }

    .bio-info h1 {
        font-size: 1.5em; /* Reduce font size for name */
    }

    .bio-info h2 {
        font-size: 1.3em; /* Reduce font size for title */
        text-align: center;
    }

    .bio-info p {
        font-size: 0.95em; /* Smaller font size for paragraphs */
    }
    
    
}





@media (max-width: 768px) {
    .container1 {
        padding: 1em; /* Reduce padding on smaller screens */
        margin: 0.5em 0; /* Adjust margins */
    }
}

@media (max-width: 576px) {
    .container2 {
        padding: 1em; /* Further reduce padding */
    }
}

@media (max-width: 768px) {
.service-container{
    padding: 1em; 
    font-size: 0.95em;
}

.service-container h2 {
    text-align: left;
/*    padding-bottom: 1em;*/
}
    


@media (max-width: 768px) {
    .research-items {
        flex-direction: column; /* Stack items vertically */
        gap: 15px; /* Adjust space between items */
    }

    .research-item {
        flex-direction: column; /* Stack image and text vertically */
        align-items: center;
        text-align: center; /* Center align text */
        
    }

    .research-item img {
        width: 60%; /* Ensure images scale properly */
/*        height: auto;*/
        align-content: center;
    }

    .research-item-text {
        align-content: center;
        align-items: center;
        text-align: center; /* Center text */
    }
}



@media (max-width: 576px) {
    
    .social-icons{text-align: center;}
    .social-icons li {
        margin-right: 5px; /* Reduce spacing between icons */
    }

    .social-icons a {
        font-size: 1.5em; /* Slightly smaller icon size */
    }
}



@media (max-width: 768px) {
    footer {
        font-size: 0.8em; /* Smaller text in footer */
        margin: 3em 0; /* Adjust margins */
    }
}



