/* General Styling */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chivo');
@import url('https://fonts.googleapis.com/css?family=Archivo:400,700');
@import url('https://fonts.googleapis.com/css?family=Space+Grotesk:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');




/***************  Color templates  *********/
/*
:root {
--c_pg_bg  : #0E435F;
--c_mn_bg  : #031F32 ;
--c_mn_nav : #0E435F;  
--c_mn_ftr : #031F32 ;
--c_hdr1  : #96C5E0;  
--c_txt : floralwhite ;
--c_hyp: #96C5E0;
}
*/

:root {
--c_pg_bg  : #EBEFF3;
--c_mn_bg  : #FDFDFF ;
--c_mn_nav : #EBEFF3;  
--c_mn_ftr : #FDFDFF ;
--c_hdr1   : #0E0F10; /* #064A8E;   */
--c_txt    : #0E0F10 ;
--c_hyp    : #1772d0 ; /*#1772d0; /* #064A8E;  */
--c_uline  : #1E90FF;
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family:     'Lato',  sans-serif,  'Archivo', 'Varela Round',  'Space Grotesk', 'Merriweather', 'Chivo', 'Montserrat', 'Lexend', 'Source Sans Pro', 'Palatino' ;
    font-size: 14px;
    line-height: 1.2;
    background-color: var(--c_pg_bg); /* Grey background color */
    margin: 0;
}


main {
  margin: 80px auto;
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 1000px;
  background-color: var(--c_mn_bg); /* 0D364C */
  padding: 20px; /* Add some padding for spacing */
/*  border-radius: 8px;  */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  margin-bottom: auto;
  
}


h1 {
/*  font-family:  'Source Sans Pro', sans-serif, 'Montserrat', 'Lexend', 'Merriweather';*/
/*  font-family: 'Hammersmith One', 'Source Sans Pro', sans-serif, 'Montserrat', 'Merriweather';*/
  font-weight: 400;
  font-size: 1.5rem;
  font-style: normal;
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--c_hdr1);
}


h2 {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--c_hdr2);
}

h3 {
  font-size: 1.0rem;
  font-style: normal;
  font-weight: 100;
}


p {
  font-size: 0.9rem;
  color: var(--c_txt);
  
}

a {
    color: var(--c_hyp);
    font-weight: 300;
    text-decoration: none;
}

a:hover {
    color: deepskyblue; 
    border-bottom: 2px solid;
    border-bottom-color: deepskyblue;  
}

.external-link {
            color: #007BFF; /* Link color */
            text-decoration: none;
            display: inline-flex;
            align-items: center;
        }

.external-link:hover {
            color: #0056b3; /* Darker blue on hover */
        }

        /* Add space between text and icon */
.external-link i {
            margin-left: 5px;
            font-size: 0.85em; /* Slightly smaller icon */
        }

ul {
    list-style-type: disc;
    padding-left: 20px;
}


ul li {
  margin-top: 10px;
  color: var(--c_txt);
  list-style-position: outside;
  font-size: 0.9rem;
}

li {
  margin-top: 10px;
  font-size: 0.9rem;
  color: var(--c_txt);
}

ol li {
  color: var(--c_txt);
  font-size: 0.9rem;
}

.video{
    color: mediumvioletred;
}


.cite-button {
            display: inline-block;
            padding: 2px 8px;
            font-size: 0.7rem;
            font-family: Arial, sans-serif;
            color: #007BFF;
            background-color: #f8f9fa;
            border: 1px solid #007BFF;
            border-radius: 3px;
            text-decoration: none;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

        .cite-button:hover {
            background-color: #007BFF;
            color: #ffffff;
        }

.video-button {
            display: inline-block;
            padding: 2px 8px;
            font-size: 0.7rem;
            font-family: Arial, sans-serif;
            color: #007BFF;
            background-color: #f8f9fa;
            border: 1px solid #007BFF;
            border-radius: 3px;
            text-decoration: none;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;
        }

        .video-button:hover {
            background-color: #007BFF;
            color: #ffffff;
        }

/* ++++++++++++++++++++++++++  Mediq querries  +++++++++++++++++++++ */

@media only screen and (min-width : 340px) {}
@media only screen and (min-width : 480px) {}
@media only screen and (min-width : 768px) {}
@media only screen and (min-width : 992px) {}
@media only screen and (min-width : 1200px) {}


/*  Page width  */
/*
@media (max-width:320px){max-width: 300px;}  
@media (max-width:480px){max-width: 450px;}  
@media (max-width:960px){max-width: 800px;}
*/



/* Mobile View  */
@media screen and (max-width: 480px) {
    main {margin: 20px auto; max-width: 95vw;}
    h1 {font-size: 1.3rem;}
    h2 {font-size: 1.1rem;}
    h3 {font-size: 1.0rem;}
    p {font-size: 0.8rem;}
    }




/***************************************************
  header and navigation bar
***************************************************/



header {
  margin: 80px auto;
  margin-top: 46px;
  margin-bottom: 0px;
  max-width: 1000px;
  padding-bottom: 0px; 
  background-color: var(--c_mn_nav);
}

/*
header {
  position: fixed;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1000px;
  margin: 0 auto;
  z-index: 1000;  
  background-color: var(--c_mn_bg);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
  align-items: center;
  margin-bottom: 50px;
}
*/


nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 10px;
/*  margin-bottom: 50px;*/
  
    
}

nav li {
  margin: 0 20px;
  font-size: 1.0rem;
  font-weight: 300;
}

nav a {
  color: var(--c_txt);
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.2s ease-in-out;
  
}

nav a:hover {
  border-bottom-color: var(--c_uline); 
}

nav a.active {
  border-bottom-color: var(--c_uline); 
}

nav ul li ul {
    display: none;
    position: absolute;
    padding-left: 0; /* Remove padding */
    margin-left: 0; /* Remove margin */
}
/* For drop down menu  */


nav ul li ul li{
    padding-bottom: 10px;
    margin: 0px;
    
}

nav ul li:hover ul {
    display: block;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* ++++++++++++++ For mobile friendly +++++++++++++++++++++++++ */
/* Mobile View  */
@media screen and (max-width: 480px) {
    nav ul {margin: 0px 0px 0px 0px; justify-content: center; padding-left: 0px;}
    nav li {margin: 5px 8px; font-size: 0.8rem; }
    nav a {font-size: 0.7rem; padding-left: 0px; padding-right: 0px; margin-left: 0px; margin-right: 0px;}
    p {font-size: 0.9rem;}
    }










/***************************************************
  Footer
***************************************************/


/* Footer Styles */
footer {
    text-align: center;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 20px;
/*    background-color: #333333;*/
/*    background-image: linear-gradient(to bottom, #333333, #001f3f);*/
    color: var(--c_txt);
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

/* Social Media Icons */
.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons a {
    color: var(--c_txt);
    text-decoration: none;
    font-size: 20px;
}

.social-icons a:hover {
    color:deepskyblue;
    border-bottom: none;
    font-size: 21px;
}

/* Typing Animation for Email */
.email {
/*    display: inline-block;*/
    overflow: hidden;
    width: 0;
    margin: 0 auto;
    letter-spacing: .15em;
    color: var(--c_hyp);;
}




