/* General Styling */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap');






/***************************************************
  Publications
***************************************************/

.category {
    text-align: center;
/*    border-top: 2px solid gray;*/
    border-bottom: 2px solid gray;
}


.category ul {
  display: flex;
  justify-content: right;
  list-style-type: none;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--c_txt)
}

.category li {
  margin: 0 20px;
  font-size: 0.9rem;
  font-weight: 600;
}

.category a {
/*  color: darkblue;*/
/*  font-size: 0.9rem;*/
  font-weight: 600;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom-color 0.2s ease-in-out;
  
}

.category a:hover {
/*color: #1E90FF;*/
border-bottom-color: #1E90FF;
}

.publications{margin-top: 15px;}

.publications h2 {
  margin-top: 20px;
  margin-bottom: 10px;
/*  font-size: 1.5rem;*/
}


.publications h3 {
  margin-top: 20px;
  margin-bottom: 10px;
/*  font-size: 1.2rem;*/
  text-underline-position: below;
}

.publications ol {
  padding-left: 15px;
  list-style-position: outside;
  text-align: left;
  order: reversed;
}

.publications li {
  margin: 10px 20px;
  line-height: 1.4;
}


.publications a {
/*    color: #3e3c3c;*/
    font-weight: 300;
    text-decoration: none;
}

.publications a:hover {
/*    color: #1E90FF; #1E90FF;*/
/*    font-weight: 400;*/
    border-bottom: 2px solid;
/*    border-bottom-color: #1E90FF;  #1E90FF;   */
}



/*
.publications li {
  width: calc(100% - 10px);
  margin-left: 5px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
*/






/* *****************   Responsive  ***************  */

/* Media query for smaller screens */
@media (max-width: 768px) {
    .category ul li {font-size:  0.8rem;}
.publications .title {font-size: 0.8rem}
}

